@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50;
  @apply font-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ------------------------------carousel----------------------------- */
.carousel .overflow-hidden {
  border-radius: 0.75rem;
}

/* ------------------------------company logos horizontal animation------------------------------------------ */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.scroller {
  animation: 25s slide infinite linear;
}
@keyframes slide2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.scroller2 {
  animation: 25s slide2 infinite linear;
}

#animation_container1 {
  cursor: pointer;
}
#animation_container1:hover .scroller {
  animation-play-state: paused;
}
#animation_container2 {
  cursor: pointer;
}
#animation_container2:hover .scroller2 {
  animation-play-state: paused;
}

.scroller img {
  will-change: transform, filter;
}
/*---------------------------------company perosnel grid flip--------------------------------------------- */
.card {
  perspective: 1000px; /* Adds 3D effect */
}

.card_inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card_inner {
  transform: rotateY(180deg); /* Flip animation */
}

.card_front,
.card_back {
  backface-visibility: hidden;
}

.card_back {
  transform: rotateY(180deg); /* Back side starts flipped */
}

/* -----------------------------------------------gallery------------------------------------------------- */

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.slide .item:nth-child(3) {
  left: 50%;
}
.slide .item:nth-child(4) {
  left: calc(50% + 220px);
}
.slide .item:nth-child(5) {
  left: calc(50% + 440px);
}

.slide .item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.slide .item:nth-child(2) .content {
  display: block;
}

.content {
  background-color: rgba(0, 0, 0, 0.2);
}

/* ---------------------------responsive styles----------------- */
@media only screen and (max-width: 1300px) {
  .slide .item:nth-child(3) {
    left: 50%;
  }
  .slide .item:nth-child(4) {
    left: calc(50% + 175px);
  }
  .slide .item:nth-child(5) {
    left: calc(50% + 350px);
  }

  .slide .item:nth-child(n + 6) {
    left: calc(50% + 525px);
    opacity: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .slide .item:nth-child(3) {
    left: 50%;
  }
  .slide .item:nth-child(4) {
    left: calc(50% + 125px);
  }
  .slide .item:nth-child(5) {
    left: calc(50% + 250px);
  }

  .slide .item:nth-child(n + 6) {
    left: calc(50% + 375px);
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  .slide .item:nth-child(3) {
    left: 50%;
    transform: translate(-175px, -50%);
  }
  .slide .item:nth-child(4) {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slide .item:nth-child(5) {
    left: 50%;
    transform: translate(75px, -50%);
  }

  .slide .item:nth-child(n + 6) {
    left: 50%;
    transform: translate(200px, -50%);
    opacity: 0;
  }
}
